html,body{width: 100%;
height: 100%;}

#us-wrap{
    width: 100%;
    height: 50%;
    background-image: url('../images/about-us.png');
    background-size: cover;
    background-position: center;
    header{
        width: 100%;
        height: 50px;
        border-bottom: 1px solid @sub-color;
        .menu{
            width: 1280px;
            height: 50px;
            margin: 0 auto;
            ul{
                height: 50px;
                float: right;
                li{
                    display: inline-block;
                    line-height: 50px;
                    padding-right: 20px;
                    a{
                        display: inline-block;
                        width: 14px;
                        img{
                            vertical-align: middle;
                        }
                    }
                } //li
            } //ul
        } //.menu
    } //header
    section{
        width: 100%;
        .sec-bar{
            width: 1280px;
            height: 70px;
            margin: 0 auto;
            position: relative;
            .main-logo{
                float: left;
                display: inline-block;
                width: 155px;
                height: 59px;
                margin-top:52px;
                display: inline-block;
                img{
                    width: 100%;
                    height: 100%;
                }
            } //main-logo
            .main-bar{
                width: 775px;
                height: 50px;
                float: right;
                margin-top: 50px;
                ul{
                    li{
                        display: inline-block;
                        padding : 10px;
                        line-height: 10px;
                        &:first-child a{
                            background-image: none;
                        }
                        a{
                            color: @sub-color;
                            text-transform: uppercase;
                            padding-left: 50px;
                            background-image: url('../images/Ellipse.png');
                            background-repeat: no-repeat;
                            background-position: 0 5px;
                        }
                    }
                } //ul
            }//.main-bar
        } //.sec-bar
        .sec-two{
            width: 100%;
            height: 1500px;
            position: absolute;
            top: 50%;
            color: @main-color;
            .m-title{
                text-align: center;
                text-transform: uppercase;
                margin-top: 130px;
                margin-bottom: 100px;
                span{
                    display: block;
                }
                span:first-child{
                    font-size: 30px;
                }
                span + span{
                    color: @second-color;
                    font-size: 16px;
                    margin-top: 18px;
                }
                .s-logo{
                    margin-top: 11px;
                }
                span:last-child{
                    font-size: 16px;
                    color: @main-color;
                }
            } //.m-title
            .tex-b{
                font-size: 25px;
                width: 1280px;
                margin: 0 auto;
                outline: 1px solid #000;
                margin-top: 130px;
                ul{
                    text-align: center;
                    li{
                        width: 100%;
                        display: inline-block;
                        div{
                            width: 50%;
                            float: left;
                            margin: 20px;
                            span{
                                width: 100%;
                                display: block;
                                padding-top: 10px;
                            }
                            .line-m{
                                outline: 1px solid #000;
                                margin-top: 5px;
                            }
                            p{
                                font-size: 14px;
                                width: 454px;
                                height: 65px;
                                outline: 1px solid #000;
                                margin-left: 91px;
                            }
                        } //div
                        .r-pic img{
                            float: right;
                            margin-top: 30px;
                        }
                        .middle-box{
                            width: 50%;
                            float: right;
                        }
                        .m-pic img{
                            float: left;
                        }
                    } //li
                    .m-t{
                        font-size: 14px;
                        width: 454px;
                        height: 65px;
                        outline: 1px solid #000;
                    } //.m-t
                } //ul
            } //.tex-b
        } //.sec-two
        .black-pic{
            width: 100%;
            position: absolute;
            top: 210%;
        } //.black-pic
        .sec-three{
            width: 100%;
            position: absolute;
            top: 246%;
            outline: 1px solid #000;
                .sec-incon{
                    width: 1280px;
                    height: 100%;
                    margin: 0 auto;
                    outline: 1px solid #000;
                    .m-title{
                        text-align: center;
                        text-transform: uppercase;
                        margin-top: 130px;
                        margin-bottom: 100px;
                        span{
                            display: block;
                        }
                        span:first-child{
                            font-size: 30px;
                            color: @main-color;
                        }
                        span + span{
                            color: @second-color;
                            font-size: 16px;
                            margin-top: 18px;
                        }
                        .s-logo{
                            margin-top: 11px;
                        }
                        span:last-child{
                            font-size: 16px;
                            color: @main-color;
                        }
                    } //.m-title
                    .sec-map{
                        h3{
                            color: @main-color;
                            font-size: 25px;
                            font-weight: 500;
                            text-transform: uppercase;
                            margin-bottom: 10px;
                        }
                    #map {
                        height: 450px;
                        width: 1280px;
                    }
                } //.sec-map
                .sec-shop{
                    margin-top: 100px;
                    div{
                        width: 374px;
                        height: 356px;
                        outline: 1px solid #000;
                        overflow: hidden;
                        display: inline-block;
                        span{
                            display: block;
                        }
                    }
                } //.sec-shop
            } //.sec-incon
        } //.sec-three
    } //section
} //us-wrap
