*{margin: 0;padding: 0;}
body{font-size: 14px;}
ul,ol,li{list-style: none;}
img{vertical-align: top;}
fieldset{border: 0;}
input,button{vertical-align: middle;}
a{text-decoration: none;color:#000;}
i,em,cite{font-style: normal;}
