html.franchiseHtml,body.franchiseBody{
  width: 100%;
  height: 100%;
}
.intro{
    height: 525px;
    background-image: url('../images/franchise.png');
    .gnb{
        height: 50px;
        border-bottom: 1px solid #FFF;
        .wrap{
            width: 1280px;
            margin: 0 auto;
            outline: 1px solid #F00;
            overflow: hidden;
            .menu_btn{
                float: right;
                line-height: 50px;
                margin-left: 25px;
                button{
                    font-size: 0;
                    width: 15px;
                    height: 14px;
                    border: none;
                    background-image: url(../images/menu-icon.png);
                    background-color: transparent;
                    background-repeat: no-repeat;
                    vertical-align: 6px;

                }
            }
            .sns{
                float: right;
                width: 138px;
                height: 50px;
                outline: 1px solid #F00;
                font-size: 0;
                ul{
                    text-align: right;
                    li{
                        display: inline-block;
                        line-height: 50px;
                        margin-left: 25px;
                        a{
                            display: inline-block;
                            width: 14px;
                            height: 14px;
                        }
                        .facebook{
                            background-image: url(../images/face-icon.png);
                            outline: 1px solid #f00;
                            vertical-align: middle;
                        }
                        .twitter{
                            background-image: url(../images/twitter-icon.png);
                            outline: 1px solid #f00;
                            vertical-align: middle;
                        }
                        .instar{
                            background-image: url(../images/insta-icon.png);
                            outline: 1px solid #f00;
                            vertical-align: middle;
                         }
                        }//li
                }
            }
        }//.wrap
    }//.gnb
    .lnb{
        width: 1280px;
        height: 60px;
        margin: 0 auto;
        outline: 1px solid #F00;
        h1{
            float: left;
            margin-top: 50px;
        }
        .menu{
            float: right;
            margin-top: 70px;
            li{
                float: left;
                margin-left: 40px;
                &:first-child a{
                    background-image: none;
                }
                a{
                    color: #FFF;
                    text-transform: uppercase;
                    padding-left: 50px;
                    background-image: url(../images/Ellipse.png);
                    background-repeat: no-repeat;
                    background-position: 0 5px;
                }
            }
        }//.menu
    }//.lnb
    .titler{
        margin-top: 230px;
        .franchise{
            text-transform: uppercase;
            text-align: center;
            h2{
                color: #FFF;
                text-transform: uppercase;
                font-size: 35px;
                font-weight: 400;
            }
            .txt_fran{
                span{
                  display: inline-block;
                }
                .home{
                    color: #b0b0b0;
                }
                .arrow{
                    vertical-align: top;
                    background-position: center;
                    height: 20px;
                    font-size: 0;
                    background-image: url(../images/center-arrow.png);
                    background-repeat: no-repeat;
                    padding-right: 12px;
                    margin: 0 3px;
                }
                .fran{
                    color: #FFF;
                }
            }//.txt_fran
        }//.franchise
    }//.titler
}//.intro
.fanc_sec_one{
    color: @main-color;
    width: 1280px;
    margin: 0 auto;
    overflow: hidden;
    .m-title{
        text-align: center;
        margin: 130px 0 160px;
        span{
            display: block;
            text-transform: uppercase;
        }
        span:first-child{
            font-size: 30px;
        }
        span + span{
            color: @second-color;
            font-size: 16px;
            margin-top: 18px;
        }
        .s-logo{
            margin-top: 11px;
        }
        span:last-child{
            font-size: 16px;
            color: @main-color;
        }
    }//.m-title

    .franc_concept_wrapper{
      text-align: center;
      .franc_pic_text{
        width: 306px;
        outline: 1px #F00 solid;
        display: inline-block;

      }
      li{
        outline: 1px #F00 solid;
        width: 30%;
        height: 500px;
        div.franc_pic{
          width: 100%;
          height: 306px;
          outline: 1px #F00 solid;
          display: inline-block;
          background-image: url(../images/fran_co00.png);
          background-size: 90%;
          background-repeat: no-repeat;
          background-position: center;
          position: relative;
          div{
            position: absolute;
            top: 43%;
            width: 100%;
            span:first-child{
              font-size: 24px;
              text-transform: uppercase;
              font-weight: bolder;
            }
            .middle_span{
              border-bottom: 1px #FFF solid;
              width: 299px;
              display: inline-block;
            }
            span:last-child{
              font-size: 16px;
              margin-top: 15px;
            }
            span{
              display: block;
              color: #FFF;
            }
          }//div
        }//div.franc_pic
        div + div{
          outline: 1px #F00 solid;
          margin-top: 15px;
          span{
            font-size: 16px;
          }
        }//div + div
        .franc_pic_text .pic_two{
            background-image: url(../images/fran_co01.png);
            background-size: 90%;
            background-repeat: no-repeat;
            background-position: center;
        }
        .franc_pic_text .pic_three{
            background-image: url(../images/fran_co02.png);
            background-size: 90%;
            background-repeat: no-repeat;
            background-position: center;
        }
      }//li

      li.fm{
        display: inline-block;
      }
    }//.franc_concept_wrapper
    .franchise_con{
        width: 1280px;
        margin: 0 auto 230px;;
        outline: 1px solid #F00;
        overflow: hidden;
        .left_pic{
            width: 46%;
            height: 454px;
            outline: 1px solid #000;
            div{
                width: 100%;
                height: 454px;
                outline: 1px #F00 solid;
                display: inline-block;
                background-image: url(../images/concept_00.png);
            }
        }
        .right_pic{
            width: 53.5%;
            height: 454px;
            outline: 1px solid #000;
            .upper_box{
                width: 100%;
                height: 49%;
                outline: 1px solid #f00;
                .up_one{
                    width: 30%;
                    height: 100%;
                    display: inline-block;
                    outline: 1px solid #00F;
                    background-image: url(../images/concept_01.png);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
                .up_two{
                    width: 69%;
                    height: 100%;
                    display: inline-block;
                    outline: 1px solid #00F;
                    background-image: url(../images/concept_02.png);
                    background-size: cover;
                }
            }//.upper_box
            .bottom_box{
                height: 50%;
                margin-top: 5px;
                outline: 1px solid #F00;
                .b_one{
                    width: 45%;
                    height: 100%;
                    display: inline-block;
                    outline: 1px solid #000;
                    background-image: url(../images/concept_03.png);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
                .b_two{
                    width: 54%;
                    height: 100%;
                    display: inline-block;
                    outline: 1px solid #000;
                    background-image: url(../images/concept_04.png);
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }
        }//.right_pic
    }//.franchise_con
}//.sec_one
// .middle_pic{
//     width: 100%;
//     height: 350px;
//     background-image: url(../images/middle-pic.png);
//     clear: both;
//     position: absolute;
//     top:2050px;
//  }
.franchise_system{
    width: 100%;
    text-align: center;
    outline: 1px solid #F00;
    .middle_pic{
        width: 100%;
        height: 350px;
        background-image: url(../images/middle-pic.png);
        clear: both;
     }
     .franc_sys_wrap{
         width: 1280px;
         margin:0 auto;
         outline: 1px #F00 solid;
     }
    .m-title{
        text-align: center;
        text-transform: uppercase;
        margin-top: 130px;
        margin-bottom: 100px;
        span{
            display: block;
        }
        span:first-child{
            font-size: 30px;
            color: @main-color;
        }
        span + span{
            color: @second-color;
            font-size: 16px;
            margin-top: 18px;
        }
        .s-logo{
            margin-top: 11px;
        }
        span:last-child{
            font-size: 16px;
            color: @main-color;
        }
    } //.m-title
    .system_concept{
      width: 100%;
      border:1px #F00 solid;
      overflow: hidden;
      margin-bottom:230px;
      li.fm{
        display: inline-block;
      }
      li{
        width: 30%;
        border:1px #F00 solid;
        .concept_pic{
          width: 208px;
          height: 208px;
          margin: 0 auto 35px;
          border:1px #F00 solid;
          background-image: url('../images/system01.png');
          background-size: 85%;
          background-repeat: no-repeat;
          background-position: center;
        }
        .concept_pic_m{
            width: 208px;
            height: 208px;
            margin: 0 auto 35px;
            border:1px #F00 solid;
            background-image: url('../images/system02.png');
            background-size: 85%;
            background-repeat: no-repeat;
            background-position: center;
        }
        .concept_pic_r{
            width: 208px;
            height: 208px;
            margin: 0 auto 35px;
            border:1px #F00 solid;
            background-image: url('../images/system03.png');
            background-size: 85%;
            background-repeat: no-repeat;
            background-position: center;
        }
        h4{
          margin-bottom: 18px;
          font-size: 19px;
          color: @main-color;
        }
        >span{
          height: 1px;
          width: 140px;
          border-bottom: 1px @main-color solid;
          display: inline-block;
        }
        p{
          color: @main-color;
          font-size:16px;
          margin: 0 15px;
          margin-top: 20px;
        }
      }
    }// system_concept
}

section.Process_of_Opening{
  background-color: #efece9;
  .m-title{
      text-align: center;
      text-transform: uppercase;
      padding-top: 130px;
      margin-bottom: 100px;
      span{
          display: block;
          text-transform: uppercase;
          font-size: 30px;
          color: #614a3d;
      }
      span:first-child{
          font-size: 30px;
      }
      span + span{
          color: @second-color;
          font-size: 16px;
          margin-top: 18px;
      }
      .s-logo{
          margin-top: 11px;
      }
      span:last-child{
          font-size: 16px;
          color: @main-color;
      }
  }//.m-title
  .Process_wrap{
    width: 1280px;
    height: 465px;
    outline: 1px #F00 solid;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 310px;
    ol{
      width: 100%;
      height: 100%;
      outline: 1px #F00 solid;
      text-align: left;
      padding-left: 119.5px;
      font-size: 0;
      span{
        text-transform: capitalize;
      }
      li{
        height: 45%;
        width: 20%;
        outline: 1px #F00 solid;
        display: inline-block;
        text-align: center;
      }
      li.Process_step1{
        background-image: url('../images/process-b1.png');
        background-size: 90%;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        .Process_step1_contents{
          height: 80%;
          width: 60%;
          outline: 1px #F00 solid;
          position: absolute;
          left: 10%;
          top: 10%;
          h4{
            text-transform: uppercase;
            margin-top: 10px;
            font-weight: 200;
          }
          h4,span{
            color: #EFECE9;
            font-size: 20px;
            display: block;
          }
          span:last-child{
            font-size: 14px;
            margin-top: 5px;
          }
          .Process_step1_icon{
            display: inline-block;
            width: 53px;
            height: 60px;
            background-image: url('../images/process-ico1.png');
            background-repeat: no-repeat;
            margin-top: 10px;
          }

        }//.Process_step1_contents

      }//li.Process_step1
      .Process_step2{
        background-image: url('../images/process-b2.png');
        margin-left: -60px;
        background-size: 90%;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        .Process_step2_contents{
          height: 80%;
          width: 60%;
          outline: 1px #F00 solid;
          position: absolute;
          left: 17%;
          top: 10%;
          h4{
            text-transform: uppercase;
            margin-top: 10px;
            font-weight: 200;
          }
          h4,span{
            color: @main-color;
            font-size: 20px;
            display: block;
          }
          span:last-child{
            font-size: 14px;
            margin-top: 5px;
          }
          .Process_step2_icon{
            display: inline-block;
            width: 53px;
            height: 60px;
            background-image: url('../images/process-icon2.png');
            background-repeat: no-repeat;
            margin-top: 10px;
          }

        }//.Process_step2_contents
      }//li.Process_step2
      .Process_step3{
        background-image: url('../images/process-b3.png');
        margin-left: -60px;
        background-size: 90%;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        .Process_step3_contents{
          height: 80%;
          width: 60%;
          outline: 1px #F00 solid;
          position: absolute;
          left: 17%;
          top: 10%;
          h4{
            text-transform: uppercase;
            margin-top: 10px;
            font-weight: 200;
          }
          h4,span{
            color: #EFECE9;
            font-size: 20px;
            display: block;
          }
          span:last-child{
            font-size: 11px;
            margin-top: -1px;
          }
          .Process_step3_icon{
            display: inline-block;
            width: 53px;
            height: 60px;
            background-image: url('../images/process-icon3.png');
            background-repeat: no-repeat;
            margin-top: 10px;
          }

        }//.Process_step1_contents
      }//.Process_step3
      .Process_step4{
        background-image: url('../images/process-b4.png');
        margin-left: -60px;
        background-size: 90%;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        .Process_step4_contents{
          height: 80%;
          width: 60%;
          outline: 1px #F00 solid;
          position: absolute;
          left: 17%;
          top: 10%;
          h4{
            text-transform: uppercase;
            margin-top: 10px;
            font-weight: 200;
          }
          h4,span{
            color: @main-color;
            font-size: 20px;
            display: block;
          }
          span:last-child{
            font-size: 14px;
            margin-top: 5px;
          }
          .Process_step4_icon{
            display: inline-block;
            width: 53px;
            height: 60px;
            background-image: url('../images/process-icon4.png');
            background-repeat: no-repeat;
            margin-top: 10px;
          }

        }//.Process_step2_contents
      }
      .Process_step5{
        background-image: url('../images/process-b5.png');
        margin-left: -60px;
        background-size: 90%;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        .Process_step5_contents{
          height: 80%;
          width: 60%;
          outline: 1px #F00 solid;
          position: absolute;
          left: 17%;
          top: 10%;
          h4{
            text-transform: uppercase;
            margin-top: 10px;
            font-weight: 200;
          }
          h4,span{
            color: #EFECE9;
            font-size: 20px;
            display: block;
          }
          span:last-child{
            font-size: 14px;
            margin-top: 5px;
          }
          .Process_step5_icon{
            display: inline-block;
            width: 53px;
            height: 60px;
            background-image: url('../images/process-icon5.png');
            background-repeat: no-repeat;
            margin-top: 10px;
          }

        }//.Process_step2_contents
      }//.Process_step5
      .Process_step6{
        background-image: url('../images/process-b1.png');
        margin-left: -60px;
        background-size: 90%;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        margin-left: 1px;
        .Process_step6_contents{
          height: 80%;
          width: 60%;
          outline: 1px #F00 solid;
          position: absolute;
          left: 17%;
          top: 10%;
          h4{
            text-transform: uppercase;
            margin-top: 10px;
            font-weight: 200;
          }
          h4,span{
            color: #EFECE9;
            font-size: 20px;
            display: block;
          }
          span:last-child{
            font-size: 14px;
            margin-top: 5px;
          }
          .Process_step6_icon{
            display: inline-block;
            width: 53px;
            height: 60px;
            background-image: url('../images/process-icon6.png');
            background-repeat: no-repeat;
            margin-top: 10px;
          }

        }//.Process_step6_contents
      }//.Process_step6
      .Process_step7{
        background-image: url('../images/process-b2.png');
        margin-left: -60px;
        background-size: 90%;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        .Process_step7_contents{
          height: 80%;
          width: 60%;
          outline: 1px #F00 solid;
          position: absolute;
          left: 17%;
          top: 10%;
          h4{
            text-transform: uppercase;
            margin-top: 10px;
            font-weight: 200;
          }
          h4,span{
            color: @main-color;
            font-size: 20px;
            display: block;
          }
          span:last-child{
            font-size: 14px;
            margin-top: 5px;
          }
          .Process_step7_icon{
            display: inline-block;
            width: 53px;
            height: 60px;
            background-image: url('../images/process-icon7.png');
            background-repeat: no-repeat;
            margin-top: 10px;
          }

        }//.Process_step7_contents
      }//.Process_step7
      .Process_step8{
        background-image: url('../images/process-b3.png');
        margin-left: -60px;
        background-size: 90%;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        .Process_step8_contents{
          height: 80%;
          width: 60%;
          outline: 1px #F00 solid;
          position: absolute;
          left: 17%;
          top: 10%;
          h4{
            text-transform: uppercase;
            margin-top: 10px;
            font-weight: 200;
          }
          h4,span{
            color: #EFECE9;
            font-size: 20px;
            display: block;
          }
          span:last-child{
            font-size: 14px;
            margin-top: 5px;
          }
          .Process_step8_icon{
            display: inline-block;
            width: 53px;
            height: 60px;
            background-image: url('../images/process-icon8.png');
            background-repeat: no-repeat;
            margin-top: 10px;
          }

        }//.Process_step8_contents
      }//.Process_step8
    }//ol

  }//.Process_wrap

}// Process_of_Opening
