html,body{width: 100%;
height: 100%;}
.intro{
    height: 525px;
    background-image: url('../images/franchise.png');
    .gnb{
        height: 50px;
        border-bottom: 1px solid #FFF;
        .wrap{
            width: 1200px;
            margin: 0 auto;
            outline: 1px solid #F00;
            .menu_btn{
                float: right;
            }
            .sns{
                float: right;
                width: 138px;
                height: 50px;
                outline: 1px solid #F00;
                font-size: 0;
                li{
                    float: left;
                    a{
                        display: inline-block;
                        width: 14px;
                        height: 14px;
                    }
                    .facebook{
                        background-image: url(../images/face-icon.png);
                        outline: 1px solid #f00;
                    }
                    .twitter{
                        background-image: url(../images/twitter-icon.png);
                        outline: 1px solid #f00;
                    }
                    .instar{
                        background-image: url(../images/insta-icon.png);
                        outline: 1px solid #f00;
                    }
                }
            }
        }//.wrap
    }//.gnb
    .lnb{
        width: 1280px;
        height: 60px;
        margin: 0 auto;
        outline: 1px solid #F00;
        h1{
            float: left;
        }
        .menu{
            float: right;
            li{
                float: left;
            }
        }
    }
}//.intro
