html,body{width: 100%;
height: 100%;}

#product-wrap{
    width: 100%;
    height: 50%;
    background-image: url('../images/product.png');
    background-size: cover;
    background-position: center;
    header{
        width: 100%;
        height: 50px;
        border-bottom: 1px solid @sub-color;
        .menu{
            width: 1280px;
            height: 50px;
            margin: 0 auto;
            ul{
                height: 50px;
                float: right;
                li{
                    display: inline-block;
                    line-height: 50px;
                    padding-right: 20px;
                    a{
                        display: inline-block;
                        width: 14px;
                        img{
                            vertical-align: middle;
                        }
                    }
                } //li
            } //ul
        } //.menu
    } //header
    section{
        width: 100%;
        .sec-bar{
            width: 1280px;
            height: 70px;
            margin: 0 auto;
            position: relative;
            .main-logo{
                float: left;
                display: inline-block;
                width: 155px;
                height: 59px;
                margin-top:52px;
                display: inline-block;
                img{
                    width: 100%;
                    height: 100%;
                }
            } //main-logo
            .main-bar{
                width: 775px;
                height: 50px;
                float: right;
                margin-top: 50px;
                ul{
                    li{
                        display: inline-block;
                        padding : 10px;
                        line-height: 10px;
                        &:first-child a{
                            background-image: none;
                        }
                        a{
                            color: @sub-color;
                            text-transform: uppercase;
                            padding-left: 50px;
                            background-image: url('../images/Ellipse.png');
                            background-repeat: no-repeat;
                            background-position: 0 5px;
                        }
                    }
                } //ul
            }//.main-bar
        } //.sec-bar
        .sec-two{
            width: 100%;
            height: 1350px;
            position: absolute;
            top: 50%;
            color: @main-color;
            .bean-b{
                    width: 1280px;
                    height: 100%;
                    outline: 1px solid #000;
                    margin: 0 auto;
                    .m-title{
                        text-align: center;
                        text-transform: uppercase;
                        margin-top: 130px;
                        margin-bottom: 100px;
                        span{
                            display: block;
                        }
                        span:first-child{
                            font-size: 30px;
                        }
                        span + span{
                            color: @second-color;
                            font-size: 16px;
                            margin-top: 18px;
                        }
                        .s-logo{
                            margin-top: 11px;
                        }
                        span:last-child{
                            font-size: 16px;
                            color: @main-color;
                        }
                } //.m-title
                .beans{
                    .line-first{
                        margin-bottom: 60px;
                        .box_one{
                            float: left;
                            position: relative;
                            margin-left: 40px;
                            margin-bottom: 90px;
                            .w-line{
                                width: 181px;
                                height: 161px;
                                border: 1px solid #FFF;
                                display: inline-block;
                                position: absolute;
                                top: 10px;
                                left: 13px;
                            }
                            .box-a{
                                width: 145px;
                                height: 124px;
                                background-color: #4c4c4d;
                                display: inline-block;
                                position: absolute;
                                top: 29px;
                                left:34px;
                                z-index: -1;
                            }
                            .txt{
                                width: 140px;
                                height: 100px;
                                font-size: 12px;
                                color: #96b3ca;
                                position: absolute;
                                top: 50px;
                                left: 36px;
                                text-transform: uppercase;
                                text-align: center;
                                &.pink{
                                    color: #f59ea5;
                                }
                                &.purple{
                                    color: #c08bb3;
                                }
                                &.yellow{
                                    color: #f6f1a1;
                                }
                                &.navy{
                                    color: #6dcff6;
                                }
                                span{
                                    display: block;
                                }
                                .title{
                                    font-size: 18px;
                                    margin-bottom: 4px;
                                }
                                div{
                                    .i-line{
                                      padding-left: 20px;
                                      background-image: url(../assets/images/line.png);
                                     }
                                    i{
                                        padding-left: 15px;
                                        height: 1px;
                                        width: 20px;
                                        margin-bottom: 4px;
                                        display: inline-block;
                                        background-image: url('../images/line.png');
                                        &.kochere{
                                            background-image: url('../images/pink.png');
                                        }
                                        &.aricha{
                                            background-image: url('../images/aricha.png');
                                        }
                                        &.gelgelu{
                                            background-image: url('../images/gelgelu.png');
                                        }
                                        &.musasa{
                                            background-image: url('../images/musasa.png');
                                        }
                                    } //i
                                    .sub-t{
                                        margin: 10px 5px;
                                        display: inline-block;
                                        background-image: url(../assets/images/line.png);
                                    }
                                } //.box_one
                            } //.txt
                            .bottom_txt{
                              position: absolute;
                              left: 50px;
                              top: 176px;
                              color: #96b3ca;
                              font-size: 10px;
                              text-transform: capitalize;
                              &.pink{
                                  color: #f59ea5;
                              }
                              &.purple{
                                  color: #c08bb3;
                              }
                              &.yellow{
                                  color: #f6f1a1;
                              }
                              &.d_blue{
                                  color: #437093;
                              }
                              &.sitio{
                                  color: #d9ba9a;
                              }
                            }//.bottom_txt
                            .b-img{
                                position: relative;
                                z-index: -5;
                            } //.b-img
                        } //.box_one
                    } //.line-first
                    .line-second{
                        margin-bottom: 60px;
                        clear: both;
                        .box_se{
                            float: left;
                            position: relative;
                            margin-left: 40px;
                            margin-bottom: 90px;
                            .w-two{
                                width: 181px;
                                height: 161px;
                                border: 1px solid #FFF;
                                display: inline-block;
                                position: absolute;
                                top: 10px;
                                left: 13px;
                            }
                            .box-b{
                                width: 145px;
                                height: 124px;
                                background-color: #4c4c4d;
                                display: inline-block;
                                position: absolute;
                                top: 29px;
                                left:34px;
                                z-index: -1;
                            }
                            .txt_se{
                                width: 140px;
                                height: 100px;
                                font-size: 12px;
                                color: #96b3ca;
                                position: absolute;
                                top: 50px;
                                left: 36px;
                                text-transform: uppercase;
                                text-align: center;
                                &.cream{
                                    color: #b4ac9c;
                                }
                                &.sugar{
                                    color: #917653;
                                }
                                &.pressure{
                                    color: #ab7b87;
                                }
                                &.sitio{
                                    color: #d9ba9a;
                                }
                                span{
                                    display: block;
                                }
                                .title{
                                    font-size: 18px;
                                    margin-bottom: 4px;
                                }
                                div{
                                    .i-line{
                                      padding-left: 20px;
                                      background-image: url(../assets/images/line.png);
                                     }
                                    i{
                                        padding-left: 15px;
                                        height: 1px;
                                        width: 20px;
                                        margin-bottom: 4px;
                                        display: inline-block;
                                        background-image: url('../images/line.png');
                                        &.crema{
                                            background-image: url('../images/crema.png');
                                        }
                                        &.sugar{
                                            background-image: url('../images/sugar.png');
                                        }
                                        &.pressure{
                                            background-image: url('../images/pressure.png');
                                        }
                                        &.sitio{
                                            background-image: url('../images/sitio.png');
                                        }
                                    } //i
                                    .sub-t{
                                        margin: 10px 5px;
                                        display: inline-block;
                                        background-image: url(../assets/images/line.png);
                                    }
                                } //div
                            } //.txt
                            .bottom_txt{
                              position: absolute;
                              left: 50px;
                              top: 176px;
                              color: #96b3ca;
                              font-size: 10px;
                              text-transform: capitalize;
                              &.cream{
                                  color: #b4ac9c;
                              }
                              &.sugar{
                                  color: #917653;
                              }
                              &.pressure{
                                  color: #ab7b87;
                              }
                            }//.bottom_txt
                            .b-img{
                                position: relative;
                                z-index: -5;
                            } //.b-img
                        } //div
                    } //.line-second
                    .line-third{
                        margin-bottom: 60px;
                        clear: both;
                        .box_se{
                            float: left;
                            position: relative;
                            margin-left: 40px;
                            .w-two{
                                width: 181px;
                                height: 161px;
                                border: 1px solid #FFF;
                                display: inline-block;
                                position: absolute;
                                top: 10px;
                                left: 13px;
                            }
                            .box-b{
                                width: 145px;
                                height: 124px;
                                background-color: #4c4c4d;
                                display: inline-block;
                                position: absolute;
                                top: 29px;
                                left:34px;
                                z-index: -1;
                            }
                            .txt_se{
                                width: 140px;
                                height: 100px;
                                font-size: 12px;
                                color: #96b3ca;
                                position: absolute;
                                top: 50px;
                                left: 36px;
                                text-transform: uppercase;
                                text-align: center;
                                &.cream{
                                    color: #b4ac9c;
                                }
                                &.sugar{
                                    color: #917653;
                                }
                                &.pressure{
                                    color: #ab7b87;
                                }
                                &.sitio{
                                    color: #d9ba9a;
                                }
                                span{
                                    display: block;
                                }
                                .title{
                                    font-size: 18px;
                                    margin-bottom: 4px;
                                }
                                div{
                                    .i-line{
                                      padding-left: 20px;
                                      background-image: url(../assets/images/line.png);
                                     }
                                    i{
                                        padding-left: 15px;
                                        height: 1px;
                                        width: 20px;
                                        margin-bottom: 4px;
                                        display: inline-block;
                                        background-image: url('../images/line.png');
                                        &.crema{
                                            background-image: url('../images/crema.png');
                                        }
                                        &.sugar{
                                            background-image: url('../images/sugar.png');
                                        }
                                        &.pressure{
                                            background-image: url('../images/pressure.png');
                                        }
                                        &.sitio{
                                            background-image: url('../images/sitio.png');
                                        }
                                    } //i
                                    .sub-t{
                                        margin: 10px 5px;
                                        display: inline-block;
                                        background-image: url(../assets/images/line.png);
                                    }
                                } //div
                            } //.txt
                            .bottom_txt{
                              position: absolute;
                              left: 50px;
                              top: 176px;
                              color: #96b3ca;
                              font-size: 10px;
                              text-transform: capitalize;
                              &.cream{
                                  color: #b4ac9c;
                              }
                              &.sugar{
                                  color: #917653;
                              }
                              &.pressure{
                                  color: #ab7b87;
                              }
                            }//.bottom_txt
                            .b-img{
                                position: relative;
                                z-index: -5;
                            } //.b-img
                        } //div
                    } //.line-third
                } //.beans
            } //bean-b
        } //sec-two
    } //section
} //#product-wrap
